body {
  background-color: #606060;
}
h1 {
  color: red;
  font-family: "verdana";
  font-size: 200%;
  text-align: center;
}
p {
  color: white;
  font-family: "courier";
  font-size: 100%;
  padding: 5px;
  margin: 10px;
  border: 2px dotted red;
}

.important {
  font-size: 120%;
  font-family: "verdana";
  color: red;
  text-decoration: underline;
}