* {
	font-family: "Monaco", "Courier New", monospace;
	margin: 4px;
}

body {
	background-color: #e9e7e7 ;
}

h1 {
	color: #2C2C2C;
	font-family: "Monaco", "Courier New", monospace;
	font-size: 200%;
}

button {
	background-color: #646464;
	border: 0px solid white;
	border-radius: 6px;
	color: white;
}

button:hover {
	background-color: blue;
}

input {
	border: 2px solid #bfbfbf;
	border-radius: 3px;
}

#myCanvas {
	border: 3px solid #bfbfbf;
	border-radius: 4px;
}